<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Eclim</string>
	<key>ordering</key>
	<array>
		<string>809BEED4-F982-4E2A-B801-0B67541E09F0</string>
		<string>CC868DF0-22B4-409B-AB1E-510A4DAB15E4</string>
		<string>31C5232D-ECFC-42D1-8458-CA0B26CC8B1E</string>
		<string>6F2450AE-2502-413E-8675-06B79BAF06B8</string>
		<string>F4039722-DBCC-4A85-AB12-043E64996066</string>
		<string>C551E202-EB1E-44E2-8FBF-C14F32A4ACED</string>
	</array>
	<key>uuid</key>
	<string>7B573C4B-2ECE-48BD-AF1D-47B222BF8CE5</string>
</dict>
</plist>
